# Core data analysis
pandas
numpy
scipy
scikit-posthocs

dotenv

# Visualisation
matplotlib
seaborn

# NLP metrics
evaluate
rouge-score
nltk
bert-score

# Embeddings & models
# torch
transformers
sentence-transformers

# LLM API
openai>=1.0

# Utilities
tqdm
python-dotenv

# Notebooks
jupyterlab
ipykernel
